name: build-with-openmpi
run-name: Build MPL with OpenMPI
on: [push]
jobs:
  compile-mpl:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install build dependencies
        run: |
          sudo apt install libopenmpi-dev cmake ninja-build g++ libboost-test-dev
          ompi_info
      - name: Build mpl
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_INSTALL_PREFIX="$HOME/mpl" -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -DMPL_BUILD_EXAMPLES=ON ..
          cmake --build . -j
          cmake --build . --target install
      - name: Test mpl
        run: |
          cd build
          ctest --output-on-failure
      - run: echo "This job's status is ${{ job.status }}."
